apiVersion: apps/v1
kind: Deployment 
metadata:
  name: pgadmin
  namespace: pgadmin
spec:
  replicas: 1
  selector:
    matchLabels:
      env: pgadmin
  template:
    metadata:
      labels:
        env: pgadmin
    spec:
      securityContext:
        fsGroup: 5050
        runAsUser: 5050
        runAsGroup: 5050
      containers:
        - name: pgadmin
          image: dpage/pgadmin4:9.4 
          securityContext:
            allowPrivilegeEscalation: false
          envFrom:
            - secretRef:
                name: pgadmin-secret 
